@using OutWeb.Repositories
@using OutWeb.Models.Manage.ManageProductModels
@model ProductDetailsDataModel
@{
    ViewBag.Title = "產品內頁";
    ViewBag.BodyClass = "Products-Content";
    string currentUrl = PublicMethodRepository.UrlMathPath;
}

<section class="product">
    <div class="wrap">
        <div class="inner center">

            <!-- 套程式-產品管理 -->
            <!-- 產品圖 -->
            @* 有上傳附件才出現 *@
            @if (Model.FilesData.Count > 0)
            {
                foreach (var file in Model.FilesData)
                {
                    string fileUrl = string.Empty;
                    fileUrl = currentUrl + "/" + file.FileUrl;
                    <img class="pull-right" src="@fileUrl" alt="@Model.Data.TITLE" data-swiper-parallax="-220">
                }
            }
            <article class="rest text-left" data-swiper-parallax="-200">
                <span style="white-space: pre-line">@Model.Data.DESC</span>
                <!-- 簡介 -->
            </article>

        </div>
    </div>
</section>

<section class="list text-left">

    <!-- Moblie box-->
    <div class="box-m editor">
        @Html.Raw(Model.Data.EDIT1_MOBILE)
    </div>

    <!-- PC box -->
    <div class="wrap editor box-pc">
        <!-- 套程式-產品管理 1.主要資訊 -->
        @Html.Raw(Model.Data.EDIT1)
    </div>
</section>


<section class="info">

    <!-- Moblie box-->
    <div class="box-m editor">
        @Html.Raw(Model.Data.EDIT2_MOBILE)
    </div>

    <!-- PC box -->
    <div class="wrap editor box-pc">
        <h2 class="font-xxxl">產品資訊</h2>

        <!-- 套程式-產品管理 2.產品資訊 -->
        @Html.Raw(Model.Data.EDIT2)
    </div>
</section>

<section class="table bg-primary-light">

    <!-- Moblie box-->
    <div class="box-m editor">
        @Html.Raw(Model.Data.EDIT3_MOBILE)
    </div>

    <!-- PC box -->
    <div class="wrap editor box-pc">
        <h2 class="font-xxxl text-white">營養標示</h2>

        <!-- 套程式-產品管理 3.營養標示 -->
        @Html.Raw(Model.Data.EDIT3)
    </div>
</section>

<section class="qa">
    <div class="wrap">
        <h2 class="font-xxxl">Q&A 常見問題</h2>
        <article class="text-left">

            <!-- 套程式-Q&A管理 -->

            @Html.Raw(Model.Data.QA)

        </article>
    </div>
</section>