
@using OutWeb.Repositories
@using OutWeb.Models.Manage.ManageProductModels
@model ProductDetailsDataModel
@{
    ViewBag.Title = "產品內頁";
    ViewBag.BodyClass = "Products-Content";
    string currentUrl = PublicMethodRepository.UrlMathPath;
}

@{
    ViewBag.Title = "產品內頁";
    ViewBag.BodyClass = "Products-Content";
}

<section class="product">
    <div class="wrap">
        <div class="inner center">

            <!-- 套程式-產品管理 -->
            <!-- 產品圖 -->
            @if (Model.FilesData.Count > 0)
            {
                foreach (var file in Model.FilesData)
                {
                    string fileUrl = string.Empty;
                    fileUrl = currentUrl + "/" + file.FileUrl;
                    <img src="@fileUrl" alt="@Model.Data.TITLE" data-swiper-parallax="-220">
                }
            }

            <article class="rest text-left" data-swiper-parallax="-200">

                <!-- 產品名稱 -->
                <h2 class="text-secondary font-xxl">@Model.Data.TITLE</h2>

                <!-- 簡介 -->
                <span style="white-space: pre-line">@Model.Data.DESC</span>

                @*<p>由天然植物-阿勃勒果實中萃取出對人體有效的抗氧化物質-RD236酵素，在原料萃取時，已將阿勃勒特殊的苦味與異味去除。</p>
                    <p>利用獨特的微囊殼包覆技術，使RD236酵素的營養，在軟糖製造過程中不受破壞。</p>
                    <p>「順便有酵 消化軟糖」，適口性極佳，以軟糖 作為糖心，在表面上加上薄薄的脆皮糖衣，使「順便有酵 化軟糖」具有皮脆心軟的特殊咬感。</p>*@

            </article>

        </div>
    </div>
</section>

<section class="list text-left">


    <div class="box-m editor">
        <!-- Moblie box-->
        @Html.Raw(Model.Data.EDIT1_MOBILE)
        @*<ul>
                <li class="list-each" id="list01">
                    <div class="list-title">
                        <h5 class="font-xl">順便有酵</h5>
                    </div>

                    <article class="font-xl pull-left">
                        <ul>
                            <li>促進新陳代謝，維持健康</li>
                            <li>改變細菌欉生態，幫助消化</li>
                            <li>維持消化道機能，使排便順暢</li>
                        </ul>
                    </article>
                </li>
                <li class="list-each" id="list02">
                    <div class="list-title">
                        <h5 class="font-xl">適用族群</h5>
                    </div>

                    <article class="font-xl  pull-left">
                        <ul>
                            <li>廁所蹲很久，排便有困難</li>
                            <li>久坐不運動，小腹便便者</li>
                            <li>肉食主義者，不愛咬青菜</li>
                            <li>外食上班族，營養不均衝</li>
                        </ul>
                    </article>

                </li>
                <li class="list-each" id="list03">
                    <div class="list-title">
                        <h5 class="font-xl">食用方法</h5>
                    </div>

                    <article class="font-xl  inline-block">
                        <ul>
                            <li>Step 1.  打開包裝，取出軟糖</li>
                            <li>Step 2.  將適量軟糖放入口中咀嚼吞下</li>
                            <li>Step 3.  飲用300 cc的水，將口中剩餘部分軟糖一併喝下</li>
                        </ul>
                    </article>
                </li>
                <li class="list-each" id="list04">
                    <div class="list-title">
                        <h5 class="font-xl">注意事項</h5>
                    </div>
                    <article class="font-xl  inline-block">
                        <ul>
                            <li>1.  建議用量成人一天不超過6顆</li>
                            <li>2.  須同時飲用至少300 cc的水</li>
                        </ul>
                    </article>
                </li>
            </ul>*@
        <!-- Mobile box end-->
    </div>


    <div class="wrap editor box-pc">
        <!-- PC box -->
        <!-- 套程式-產品管理 1.主要資訊 -->
        @Html.Raw(Model.Data.EDIT1)

        @*<ul>
                <li class="list-each" id="list01">
                    <div class="list-title">
                        <h5 class="font-xl">順便有酵</h5>
                    </div>

                    <article class="pull-left">
                        <ul>
                            <li>促進新陳代謝，維持健康</li>
                            <li>改變細菌欉生態，幫助消化</li>
                            <li>維持消化道機能，使排便順暢</li>
                        </ul>
                    </article>
                </li>
                <li class="list-each" id="list02">
                    <div class="list-title">
                        <h5 class="font-xl">適用族群</h5>
                    </div>

                    <article class="pull-left">
                        <ul>
                            <li>廁所蹲很久，排便有困難</li>
                            <li>久坐不運動，小腹便便者</li>
                            <li>肉食主義者，不愛咬青菜</li>
                            <li>外食上班族，營養不均衝</li>
                        </ul>
                    </article>

                </li>
                <li class="list-each" id="list03">
                    <div class="list-title">
                        <h5 class="font-xl">食用方法</h5>
                    </div>

                    <article class="inline-block">
                        <ul>
                            <li>Step 1.  打開包裝，取出軟糖</li>
                            <li>Step 2.  將適量軟糖放入口中咀嚼吞下</li>
                            <li>Step 3.  飲用300 cc的水，將口中剩餘部分軟糖一併喝下</li>
                        </ul>
                    </article>
                </li>
                <li class="list-each" id="list04">
                    <div class="list-title">
                        <h5 class="font-xl">注意事項</h5>
                    </div>
                    <article class="inline-block">
                        <ul>
                            <li>1.  建議用量成人一天不超過6顆</li>
                            <li>2.  須同時飲用至少300 cc的水</li>
                        </ul>
                    </article>
                </li>
            </ul>*@

        <!-- PC box end-->
    </div>

</section>


<section class="info">

    <h2 class="font-xxxl">產品資訊</h2>

    <div class="box-m editor">
        <!-- Moblie box-->
        <!-- 套程式-產品管理 2.產品資訊 -->
        @Html.Raw(Model.Data.EDIT2_MOBILE)

        @*<table class="text-left">
                <tr>
                    <td>產品品名：</td>
                    <td>順便有酵</td>
                </tr>
                <tr>
                    <td>產品成分：</td>
                    <td>阿勃勒萃取物、砂糖、山梨醇（甜味劑）、明膠、葡萄糖、蘋果酸、柑橘果膠、檸檬酸鈉、食鹽、卵磷脂、棕櫚蠟、植物油</td>
                </tr>
                <tr>
                    <td>食用方法：</td>
                    <td>1日6粒，配合300~400毫升溫冷開水食用</td>
                </tr>
                <tr>
                    <td>保存方法：</td>
                    <td>請置於嬰幼兒無法取得且低溫陰涼之處，避免陽光直射</td>
                </tr>
                <tr>
                    <td>注意事項：</td>
                    <td>● 內附之乾燥劑，請勿食用</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 請依照每日建議量食用，一日請勿超過6粒，多食無益</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 如為過敏體質、正值服用藥物期間、懷孕及哺乳期間，請在食用前詢問醫生意見</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 若身體出現不適感或有食物過敏現象者，請停止食用</td>
                </tr>
                <tr>
                    <td>包裝內容：</td>
                    <td>淨重75公克，60粒裝</td>
                </tr>
                <tr>
                    <td>保存期限：</td>
                    <td>12個月</td>
                </tr>
                <tr>
                    <td>有效日期：</td>
                    <td>如盒底標示</td>
                </tr>
                <tr>
                    <td>出品公司：</td>
                    <td>肽研生醫股份有限公司</td>
                </tr>
            </table>
            <p class="text-left">本產品已向XX公司投保產品責任險1千萬元整</p>*@

        <!-- Moblie box end-->
    </div>


    <div class="wrap editor box-pc">
        <!-- PC box -->
        <!-- 套程式-產品管理 2.產品資訊 -->
        @Html.Raw(Model.Data.EDIT2)

        @*<table class="text-left">
                <tr>
                    <td>產品品名：</td>
                    <td>順便有酵</td>
                </tr>
                <tr>
                    <td>產品成分：</td>
                    <td>阿勃勒萃取物、砂糖、山梨醇（甜味劑）、明膠、葡萄糖、蘋果酸、柑橘果膠、檸檬酸鈉、食鹽、卵磷脂、棕櫚蠟、植物油</td>
                </tr>
                <tr>
                    <td>食用方法：</td>
                    <td>1日6粒，配合300~400毫升溫冷開水食用</td>
                </tr>
                <tr>
                    <td>保存方法：</td>
                    <td>請置於嬰幼兒無法取得且低溫陰涼之處，避免陽光直射</td>
                </tr>
                <tr>
                    <td>注意事項：</td>
                    <td>● 內附之乾燥劑，請勿食用</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 請依照每日建議量食用，一日請勿超過6粒，多食無益</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 如為過敏體質、正值服用藥物期間、懷孕及哺乳期間，請在食用前詢問醫生意見</td>
                </tr>
                <tr>
                    <td></td>
                    <td>● 若身體出現不適感或有食物過敏現象者，請停止食用</td>
                </tr>
                <tr>
                    <td>包裝內容：</td>
                    <td>淨重75公克，60粒裝</td>
                </tr>
                <tr>
                    <td>保存期限：</td>
                    <td>12個月</td>
                </tr>
                <tr>
                    <td>有效日期：</td>
                    <td>如盒底標示</td>
                </tr>
                <tr>
                    <td>出品公司：</td>
                    <td>肽研生醫股份有限公司</td>
                </tr>
            </table>
            <p class="text-left">本產品已向XX公司投保產品責任險1千萬元整</p>*@

        <!-- PC box end-->
    </div>
</section>

<section class="table bg-primary-light">

    <h2 class="font-xxxl text-white">營養標示</h2>

    <div class="wrap box-m editor">
        <!-- Moblie box-->
        @Html.Raw(Model.Data.EDIT3_MOBILE)

        @*<table class="text-left font-lg text-white">
                <tr>
                    <td>每一份量 5 公克（2粒）<br>每包裝含 30 份</td>
                    <td>每份</td>
                    <td>每100公克</td>
                </tr>
                <tr>
                    <td>熱量</td>
                    <td class="text-right">17.4大卡</td>
                    <td class="text-right">大卡</td>
                </tr>
                <tr>
                    <td>蛋白質</td>
                    <td class="text-right">0.3公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>飽和脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>反式脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>碳水化合物</td>
                    <td class="text-right">4.4公克</td>
                    <td class="text-right">4.4公克</td>
                </tr>
                <tr>
                    <td>糖</td>
                    <td class="text-right">2.9公克</td>
                    <td class="text-right">2.9公克</td>
                </tr>
                <tr>
                    <td>糖醇</td>
                    <td class="text-right">0.9公克</td>
                    <td class="text-right">0.9公克</td>
                </tr>
                <tr>
                    <td>鈉</td>
                    <td class="text-right">4毫克</td>
                    <td class="text-right">4毫克</td>
                </tr>
            </table>
            <div class="refer text-white text-left">
                <p>*參考值未訂定：</p>
                <p>每日參考值：熱量2,000大卡、蛋白質60公克、脂肪60公克、飽和脂肪18公克、碳水化合物300公克、鈉2,000毫克。</p>
            </div>*@

        <!-- Moblie box end-->
    </div>


    <div class="wrap editor box-pc">
        <!-- PC box -->
        <!-- 套程式-產品管理 3.營養標示 -->
        @Html.Raw(Model.Data.EDIT3)

        @*<table class="text-left font-lg text-white">
                <tr>
                    <td>每一份量 5 公克（2粒）<br>每包裝含 30 份</td>
                    <td>每份</td>
                    <td>每100公克</td>
                </tr>
                <tr>
                    <td>熱量</td>
                    <td class="text-right">17.4大卡</td>
                    <td class="text-right">大卡</td>
                </tr>
                <tr>
                    <td>蛋白質</td>
                    <td class="text-right">0.3公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>飽和脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>反式脂肪</td>
                    <td class="text-right">0公克</td>
                    <td class="text-right">0公克</td>
                </tr>
                <tr>
                    <td>碳水化合物</td>
                    <td class="text-right">4.4公克</td>
                    <td class="text-right">4.4公克</td>
                </tr>
                <tr>
                    <td>糖</td>
                    <td class="text-right">2.9公克</td>
                    <td class="text-right">2.9公克</td>
                </tr>
                <tr>
                    <td>糖醇</td>
                    <td class="text-right">0.9公克</td>
                    <td class="text-right">0.9公克</td>
                </tr>
                <tr>
                    <td>鈉</td>
                    <td class="text-right">4毫克</td>
                    <td class="text-right">4毫克</td>
                </tr>
            </table>
            <div class="refer text-white text-left">
                <p>*參考值未訂定：</p>
                <p>每日參考值：熱量2,000大卡、蛋白質60公克、脂肪60公克、飽和脂肪18公克、碳水化合物300公克、鈉2,000毫克。</p>
            </div>*@

        <!-- PC box end-->
    </div>
</section>

<section class="qa">
    <div class="wrap">
        <h2 class="font-xxxl">Q&A 常見問題</h2>
        <article class="text-left">


            <!-- 套程式-Q&A管理 -->
            @Html.Raw(Model.Data.QA)

            @*<div class="paragraph">
                    <!-- 問題 -->
                    <p>Q：該如何保存？</p>
                    <!-- 回答 -->
                    <p class="editor">A：開封後建議置於常溫乾燥處</p>
                </div>

                <div class="paragraph">
                    <p>Q：何時建議食用？</p>
                    <p class="editor">A：飯前空腹效果較佳，任何時間皆可吃</p>
                </div>

                <div class="paragraph">
                    <p>Q：幾歲可以吃？</p>
                    <p class="editor">A：任何年齡層皆可</p>
                </div>

                <div class="paragraph">
                    <p>Q：吃多是否會造成身體負擔？</p>
                    <p class="editor">A：本產品為天然草本萃取軟糖食品，吃多亦可幫助排便</p>
                </div>

                <div class="paragraph">
                    <p>Q：本軟糖是否要搭配水一起服用？</p>
                    <p class="editor">A：是的，建議一次最少300 cc</p>
                </div>

                <div class="paragraph">
                    <p>Q：腸胃不好的可以吃嗎？</p>
                    <p class="editor">A：當然可以，RD236酵素的功能就是整腸健胃</p>
                </div>

                <div class="paragraph">
                    <p>Q：一盒可以吃多久？</p>
                    <p class="editor">A：依個人而定，若每天食用2-4顆，可吃一個月左右</p>
                </div>*@


        </article>
    </div>
</section>