@using OutWeb.Repositories
@using OutWeb.Models.Manage.ManageNewsModels
@model  NewsDetailsDataModel
@{
    ViewBag.Title = "最新消息內頁";
    ViewBag.BodyClass = "News-Content";
    ViewBag.bannerTitle = "最新消息";
    string currentUrl = PublicMethodRepository.UrlMathPath;
    List<string> PageInfo = TempData["PageInfo"] as List<string>;
}

<section>
    <div class="wrap">
        <div class="date text-left text-primary font-xl">@Model.Data.PUB_DT_STR</div>
        <h2 class="text-left text-primary">@Model.Data.TITLE</h2>
        @if (Model.FilesData.Count > 0)
        {
            foreach (var file in Model.FilesData)
            {
                string fileUrl = string.Empty;
                fileUrl = currentUrl + "/" + file.FileUrl;
                <img src="@fileUrl" alt="@Model.Data.TITLE">
            }
        }

        @* 沒有上傳圖片時，顯示下面圖片
		<img src="~/Content/images/no-pic.jpg" alt=""> *@

        

        <article class="text-left font-lg">
        	@Html.Raw(Model.Data.CONTENT)
        	@*
                <p>
                    &emsp;&emsp;台灣有豐富的海洋自然資源及人文景觀，交通部觀光局為呼應全球永續觀光發展趨勢，挑選出1
                    0大魅力島嶼，包括龜山島、綠島、蘭嶼、小琉球、七美、漁翁島（西嶼）、吉貝、小金門
                    （烈嶼）、北竿及東莒等，以「探索台灣10+島」為活動品牌，推出一系列令人驚豔的活動，
                    在六月一日推出的[探索台灣10+島 show your island島主徵選活動] ，更是近年少見，針對離島
                    旅遊量身打造的影音與網路聲量結合的活動。將近2週的時間，收到許多熱愛台灣的朋友報名島
                    主徵選活動。
                </p>
                <p>
                    &emsp;&emsp;為讓大家看見台灣離島的特殊地形地貌、豐富的生態資源、多元的人文風情，記者會以小琉球
                    打頭陣，推出島主召募影片，帶大家一起探索小琉球的美景、美食，同時也不忘記號召大家一起
                    來環保!藉此號召更多熱愛台灣離島及海洋活動的朋友接力，用影片、用文字將台灣10+島介紹給
                    大家。除了首播島主召募影片外，交通部王國材政務次長及觀光局周永暉局長也邀請10島代表及
                    近年來最受歡迎行腳節目主持人大霈（李霈瑜）攜手台灣唯一風浪板三屆奧運國手張浩一同介紹
                    台灣10⁺魅力島嶼，號召大家一起參與這次的活動。
                </p>
                <p>
                    &emsp;&emsp;因工作關係大霈跟著旅遊節目上山下海，造訪了台灣無數美景；年紀輕的張浩，可不是從小就
                    住在海灣城市，他是道地的南投孩子，所以有「來自山上的海王子」 封號，也是台灣風帆 RS -X型
                    風浪板選手，深愛海洋的張浩始終相信「風越大，越要勇敢向前 浪越高 越能展翅高飛」。
                    兩人聽說 「2018海灣旅遊年」要舉辦徵選島主的活動，就紛紛表示不會錯過這個推展台灣美景的
                    好機會，早已經準備在記者會上摩拳擦掌爭取島主機會，希望全世界都能愛上台灣這個美麗的海洋國家！
                </p>*@
            </article>
    </div>
</section>


<!-- 頁面切換套程式 :-->

<section class="blog-pager" id="blog-pager">

    <span class="displaypageNum">
        @if (!string.IsNullOrEmpty(PageInfo[0]))
        {
            <a href="@Url.Content("~/News/Content?ID=" + PageInfo[0])">« 上一則</a>
        }

    </span>

    <span class="displaypageNum">
        @if (!string.IsNullOrEmpty(PageInfo[1]))
        {
            <a href="@Url.Content("~/News/Content?ID=" + PageInfo[1])">下一則 »</a>
        }
    </span>


</section>

