@using OutWeb.Models.Manage.ManageProductModels
@model ProductDetailsDataModel
@using OutWeb.Repositories
@{
    string currentUrl = PublicMethodRepository.UrlMathPath;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}
<input type="hidden" id="hdnID" name="ID" value="@Model.Data.ID" />


<form action="" class="form-list">
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 產品名稱</dt>
        <dd class="col-7">
            <input type="text" class="form-element" name="TITLE" required placeholder="請輸入產品名稱" value="@Model.Data.TITLE">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 規格</dt>
        <dd class="col-7">
            <input type="text" class="form-element" name="SPEC" required placeholder="請輸入規格" value="@Model.Data.SPEC">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 簡介</dt>
        <dd class="col-7">
            @* 輸入時，enter可換行。不用套編輯器 *@
            <textarea rows="6" class="form-element" name="DESC" required placeholder="請輸入簡介" >@Model.Data.DESC</textarea>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">產品圖上傳</dt>
        <dd class="col-7">
            <div class="input-file">
                <input id="files_m" type="file" onchange="previewFiles(this);" accept="image/gif, image/jpeg, image/png">
            </div>
            <small class="text-danger">
                1. 檔案請勿超過 1 MB。<br>
                2. 可上傳檔案格式：JPG, PNG, GIF
            </small>
            <ul class="file-pre-ul list-unstyled">

                @foreach (var file in Model.FilesData)
                {
                    string fileUrl = currentUrl + "/" + file.FileUrl;
                    int index = Model.FilesData.IndexOf(file);
                    <li class="uploaded">
                        <button type="button" class="close btn-del file-remove-btn" del-obj="f" id="@file.FileName">&times;</button>
                        <img src="@fileUrl" alt="@file.RealFileName" />
                        @*<a class="dlFile-load" href="javascript:;" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>*@
                        <input type="hidden" id="imgID" name="FileData[@index].ID" value="@file.ID" />
                    </li>
                }
            </ul>
   
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">顯示於首頁</dt>
        <dd class="col-7">
            <label class="switch">
                @if (Model.Data.HOME_PAGE_DISPLAY)
                {
                    <input type="checkbox" name="HOME_PAGE_DISPLAY" checked>
                }
                else
                {
                    <input type="checkbox" name="HOME_PAGE_DISPLAY">
                }
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">首頁專用資訊</dt>
        <dd class="col-7">
            @* 輸入時，enter可換行。不用套編輯器 *@
            <textarea rows="3" class="form-element" name="HOME_INFO" >@Model.Data.HOME_INFO</textarea>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">排序</dt>
        <dd class="col-5">
            <input type="number" class="form-element inline" name="SQ" value="@Model.Data.SQ">
            <small class="text-danger">數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">上架狀態</dt>
        <dd class="col-7">

            @if (Model.Data.DISABLE)
            {
                <label class="control-group">
                    <input type="radio" class="radio" name="DISABLE" value="N">
                    <i class="icon"></i> 上架
                </label>
                <label class="control-group">
                    <input type="radio" class="radio" name="DISABLE" value="Y" checked>
                    <i class="icon"></i> 下架
                </label>
            }
            else
            {
                <label class="control-group">
                    <input type="radio" class="radio" name="DISABLE" value="N" checked>
                    <i class="icon"></i> 上架
                </label>
                <label class="control-group">
                    <input type="radio" class="radio" name="DISABLE" value="Y">
                    <i class="icon"></i> 下架
                </label>
            }
        </dd>
    </dl>

    <fieldset class="mt-24">
        <legend class="underline">[ 產品內容 ]</legend>
        <div class="alert-warning mb-16">
            <strong>編輯器注意事項:</strong><br>
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
        </div>
        <nav class="tab">
            <a href="#tab-1" class="tab-nav active">1 產品故事-電腦版</a>
            <a href="#tab-2" class="tab-nav">1 產品故事-行動版</a>
            <a href="#tab-3" class="tab-nav">2 產品資訊-電腦版</a>
            <a href="#tab-4" class="tab-nav">2 產品資訊-行動版</a>
            <a href="#tab-5" class="tab-nav">3 營養標示-電腦版</a>
            <a href="#tab-6" class="tab-nav">3 營養標示-行動版</a>
        </nav>
        <div class="tab-main bg-white">
            <div id="tab-1" class="tab-content full">
            <textarea name="EDIT1" rows="30" class="">@Html.Raw(Model.Data.EDIT1)</textarea>
        </div>

        <div id="tab-2" class="tab-content full">
            <textarea name="EDIT1_MOBILE" rows="30" class="">@Html.Raw(Model.Data.EDIT1_MOBILE)</textarea>
        </div>

        <div id="tab-3" class="tab-content full">
            <textarea name="EDIT2" rows="30" class="">@Html.Raw(Model.Data.EDIT2)</textarea>
        </div>

        <div id="tab-4" class="tab-content full">
            <textarea name="EDIT2_MOBILE" rows="30" class="">@Html.Raw(Model.Data.EDIT2_MOBILE)</textarea>
        </div>

        <div id="tab-5" class="tab-content full">
            <textarea name="EDIT3" rows="30" class="">@Html.Raw(Model.Data.EDIT3)</textarea>
        </div>

        <div id="tab-6" class="tab-content full">
            <textarea name="EDIT3_MOBILE" rows="30" class="">@Html.Raw(Model.Data.EDIT3_MOBILE)</textarea>
        </div>
            @*<textarea name="EDIT1" id="tab-1" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT1)</textarea>
            <textarea name="EDIT1_MOBILE" id="tab-2" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT1_MOBILE)</textarea>
            <textarea name="EDIT2" id="tab-3" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT2)</textarea>
            <textarea name="EDIT2_MOBILE" id="tab-4" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT2_MOBILE)</textarea>
            <textarea name="EDIT3" id="tab-5" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT3)</textarea>
            <textarea name="EDIT3_MOBILE" id="tab-6" rows="30" class="tab-content full">@Html.Raw(Model.Data.EDIT3_MOBILE)</textarea>*@
        </div>
    </fieldset>

    <fieldset class="mt-24">
        <legend class="underline">[ Q&A ]</legend>
        <div class="alert-warning mb-16">
            <strong>編輯器注意事項:</strong><br>
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
        </div>
        <textarea name="QA" rows="30" class="full">
@Html.Raw(Model.Data.QA)
</textarea>
    </fieldset>

    <footer class="submit-bar mt-24">
        <button id="submitBtn" type="button" class="btn success oi offset-2" data-glyph="circle-check">
            儲存
        </button>
        <button type="button" class="btn muted oi" data-glyph="circle-x" onclick="location.href='/_SysAdm/ProductsList'">
            回列表
        </button>
    </footer>
</form>

<script>
    $(function () {
        CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
        CKEDITOR.replace('QA');
        CKEDITOR.replace('EDIT1');
        CKEDITOR.replace('EDIT1_MOBILE');
        CKEDITOR.replace('EDIT2');
        CKEDITOR.replace('EDIT2_MOBILE');
        CKEDITOR.replace('EDIT3');
        CKEDITOR.replace('EDIT3_MOBILE');
    })
</script>

@*File Upload JS*@
<script>
    var fileList = [];
    var blobBuffer = {};
    var fileLimitImageSize = 1048576;//圖片大小1mb 單位bit
    var fileLimitFileSize = 2097152//檔案大小2mb 單位bit
    //驗證Required欄位
    function validHtmlFormRequired() {
        var valid = true;
        var form = document.getElementById('formManageProductData');
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert(form.elements[i].placeholder);
                valid = false;
                return;
            }
        }
        return valid;
    }

    $(function () {

        $(document).on('click', '.close', function () {
            var delIndex = [];
            var id = $(this).attr('id');
            var t = $(this).attr('del-obj');
            for (var i = 0; i < fileList.length; i++) {
                var data = fileList[i];
                if (data.type == t && data.files.name == id) {
                    delIndex.push(i);
                }
            }
            for (var i = 0; i < delIndex.length; i++) {
                fileList.splice(delIndex[i], 1);
            }
            $(this).closest('.uploaded ').remove();
        });

        $('#submitBtn').click(function () {
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            SaveFiles();
        });
    })


    //圖片/檔案存server
    function SaveFiles() {
        $('#files_m').val('');
        //重置ckeditor content
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        var ID = $('#hdnID').val();
        var formData = document.getElementById('formManageProductData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == 's') {
                formData.append('image', data.files);
            }
            else if (data.type == 'm') {
                formData.append('images', data.files);
            }
            else if (data.type == 'f') {
                formData.append('files', data.files);
            }
        }

        var serverDataCount = $('.dlFile-load').length;
        var currentDataCount = fileList.length;
        var totalDataCount = parseInt(serverDataCount) + parseInt(currentDataCount);
        if (totalDataCount > 1) {
            alert('最多可上傳 1 個檔案');
            return false;
        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        //formData.append("ID", ID);

        var url = '';

        if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/ProductsAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/ProductsEdit/")";
        }

        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                window.location.href = response.Url;
            },
            error: function (error, x, e, g) {
                alert('error');
                window.location.reload();
            }
        });
    }

    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            downloadDefaultProcess(elem);
        }
    }
    function downloadDefaultProcess(elem) {
        $(elem).attr('download', $(elem).attr('real-name'))
     .attr('href', $(elem).attr('url'))
     .attr('target', '_blank');
    }

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });
    $(document).on('click', '.dlFile-load', function () {
        downloadDefaultProcess(this);
    });

    //檔案刪除
    $(document).on('click', '.file-remove-btn', function () {
        var delIndex = [];
        var id = $(this).attr('id');
        var t = $(this).attr('del-obj');
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == t && data.files.name == id) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
        $(this).parent('li').remove();
    })

    //檔案預覽
    function previewFiles(elem) {
        var f = document.getElementById('files_m');
        var idMultiple = typeof $("#files_m").attr("multiple") !== 'undefined';

        //檢查格式尺寸 格式
        var sizePass = checkFileLimitSize(f, fileLimitFileSize);
        var typePass = checkFileExtension(f);
        if (!sizePass || !typePass) {
            return;
        }

        if (!idMultiple) {
             fileList = [];
            blobBuffer = {};
            $('.file-pre-ul').empty();
        }


        for (var i = 0; i < f.files.length; i++) {
            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }

            //var $li = $('<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="f" id="' + filename + '">&times;</button>' +
            //    '<a  class="dlFile" ie-id="' + ra + '"  href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
            //    '</li>');

            var $li = $('<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="f" id="' + filename + '">&times;</button>' +
                '<img src="' + url + '" alt="' + filename + '" />' +
                '</li>');


            $('.file-pre-ul').append($li);
            fileList.push({ type: 'f', files: f.files[i] });
            $("#files_m").val('');

            //註銷Object URL
            //window.URL.revokeObjectURL(url);
        }
    }


    //檢查尺寸
    function checkFileLimitSize(totalFiles, fileLimitSize) {
        var success = true;
        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            if (file.size > fileLimitSize) {
                success = false;
                alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
                break;
            }
        }
        return success;
    }
    //檢查副檔名
    function checkFileExtension(totalFiles) {
        var success = true;
        //PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, JPG, PNG, GIF
        var allowedExtension =
            [
                "image/bmp",
                "image/gif",
                "image/jpeg",
                "image/jpg",
                "image/png",
                "application/msword",
                "application/vnd.ms-excel",
                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "application/pdf",
                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                "application/vnd.ms-powerpoint"
            ];
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert("只允許上傳 PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, JPG, PNG, GIF檔.");
                break;
            }
        }
        return success;
    }
</script>
