@using OutWeb.Models.Manage
@using REDOXEntities.DataBase
@using OutWeb.Repositories
@model ListViewBase
@{
    ViewBag.Title = "產品管理";
    ViewBag.subnav = "Products";
    ViewBag.subnav2 = "Product";
    List<PRODUCT> Data = (Model.Result.Data as List<PRODUCT>);

}
@section IncludeScript{
    @*提交分頁表單,建立隱藏欄位為查詢欄位值*@
    <script>
    function paginationSubmit(page) {
        $('input[name="page"]').val(page);

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "qry").val("@Model.Filter.QueryString");

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "sort").val("@Model.Filter.SortColumn");

        $('#formManageProducts').append($(input));
        $('#formManageProducts')[0].submit();
    }

    //提交表單 (提供延遲提交用)
    function submitForm() {
        var val = $('input[name="page"]').val();
        paginationSubmit(val);
    }

    $('input[name="page"]').on('change keyup', function(value) {
        var lastPage = parseInt('@Model.Result.Pagination.LastPage');
        var pageLen = parseInt('@Model.Result.Pagination.LastPage.ToString().Length');
        var val = $(this).val();

        if (val.length > pageLen || parseInt(val) > lastPage) {
            val = val.slice(0, pageLen);
            $(this).val(lastPage);
            paginationSubmit(lastPage);
        } else if (val.length < pageLen) {
            setTimeout("submitForm()", 500)
        } else {
            paginationSubmit(val);
        }
    });
    </script>
    <script>

        (function ($) {
            $(function () {

                $('#statusDropListFront').val('@Model.Filter.DisplayForFrontEnd');

                //搜尋
                $('#searchBtn').click(function () {
                    $('#numPage').val(1);
                    $('#formManageProducts').submit();
                });


                //刪除
                $('.delete-btn').click(function () {
                    var id = $(this).attr('data-id');
                    var url = "@Url.Content("~/_SysAdm/ProductsDelete")";
                    $.ajax({
                        async: false,
                        url: url,
                        data: { ID: id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            alert(data.messages);
                            if (data.success) {
                                window.location.reload()
                            }
                        }, error: function (error) {
                            //alert(error.messages);
                        }
                    });
                })

               //排序
                $('.th-sort-toggle').on('click', function () {
                    var form = document.forms[0];
                    var  formData =  $(form).serializeArray();
                    var queryStr = $.param(formData);
                    var sortNm = $(this).attr('id');
                    var sortType = $(this).attr('sort-type') == '' ? 'asc' : $(this).attr('sort-type');
                    window.location = '@Url.Content("~/_SysAdm/ProductsList?")' + queryStr +"&sort=" + sortNm + '/' + sortType + '&page=@Model.Result.Pagination.CurrentPage';
                })

                var sortColumn;
                var sortTp;
                if ('@Model.Filter.SortColumn' != '') {
                    sortColumn = '@Model.Filter.SortColumn'.split('/')[0]
                    sortTp = '@Model.Filter.SortColumn'.split('/')[1];
                }

                if (sortTp == 'asc') {
                    sortTp = 'desc';
                }
                else {
                    sortTp = 'asc';
                }

                switch (sortColumn) {
                    case "sortTitle":
                        $('#sortTitle').addClass(sortTp)
                        $('#sortTitle').attr('sort-type', sortTp);
                        break;
                    case "sortSpec":
                        $('#sortSpec').addClass(sortTp)
                        $('#sortSpec').attr('sort-type', sortTp);
                        break;
                    case "sortStatus":
                        $('#sortStatus').addClass(sortTp)
                        $('#sortStatus').attr('sort-type', sortTp);
                        break;
                    case "sortIndex":
                        $('#sortIndex').addClass(sortTp)
                        $('#sortIndex').attr('sort-type', sortTp);
                        break;
                    case "sortHomeStatus":
                        $('#sortHomeStatus').addClass(sortTp)
                        $('#sortHomeStatus').attr('sort-type', sortTp);
                        break;
                    default:
                        break;
                }
            });
        })(jQuery);
    </script>
}

@section Breadcrumb {
    <li>產品介紹管理</li>
    <li>@ViewBag.Title</li>
}
@using (Html.BeginForm("ProductsList", "_SysAdm", FormMethod.Get, new { id = "formManageProducts" }))
{
    <div class="alert-warning mb-16">
        <strong>排序：</strong> 數字愈大愈前面。<br>
        <strong>首頁狀態：</strong> 首頁最多顯示兩筆產品。
    </div>

    <div class="btn-group mb-8">
        <button type="button" class="btn success oi" data-glyph="plus" onclick="location.href='@Url.Content("~/_SysAdm/ProductsAdd")'">新增</button>

    </div>

    <header class="table-head form-inline">
        <label>狀態</label>
        <select id="statusDropListFront" class="form-element" name="fSt">
            <option value="">全部</option>
            <option value="Y">上架</option>
            <option value="N">下架</option>
        </select>
        <input type="text" class="form-element" placeholder="請輸入關鍵字" name="qry" value="@Model.Filter.QueryString">
        <button class="btn oi" data-glyph="magnifying-glass" id="searchBtn"> 搜尋</button>
    </header>
    <table class="table-list table-hover table-striped">
        <colgroup>
            <col span="2">
            <col>
            <col style="width: 250px">
            <col span="2" style="width: 160px">
        </colgroup>
        <thead>
            <tr>
                @* 點選排序功能 (點一下遞增, 點兩下遞減)
                    <button class="th-sort-toggle"></button>
                    遞增 asc
                    <button class="th-sort-toggle asc"></button>
                    遞減 desc
                    <button class="th-sort-toggle desc"></button>
                *@
                <th class="item-edit">修改</th>
                <th class="item-edit">刪除</th>
                <th class="text-left"><button id="sortTitle" type="button" sort-type="" class="th-sort-toggle">產品名稱</button></th>
                <th><button id="sortSpec" type="button" sort-type="" class="th-sort-toggle">產品規格</button></th>
                <th><button id="sortStatus" type="button" sort-type="" class="th-sort-toggle">上架狀態</button></th>
                <th><button id="sortHomeStatus" type="button" sort-type="" class="th-sort-toggle">首頁狀態</button></th>
                <th><button id="sortIndex" sort-type="" type="button" class="th-sort-toggle">排序</button></th>
            </tr>
        </thead>
        <tbody>
            @if (Data.Count == 0)
            {
                <tr class="bg-pale-red"><td colspan="6">查無資料!</td></tr>
            }
            @foreach (var data in Data)
            {
                string disFrontStr = (bool)data.DISABLE ? "下架" : "上架";
                string disFrontStyle = (bool)data.DISABLE ? "label" : "label-success";
                <tr>

                    <td><button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("~/_SysAdm/ProductsEdit?ID=" + data.ID)'"></button></td>
                    <td><button class="hover-danger oi delete-btn" title="刪除" type="button" data-glyph="trash" data-id="@data.ID"></button></td>
                    <td>@data.TITLE</td>
                    <td class="text-left">@data.SPEC</td>
                    <td><span class="@disFrontStyle">@disFrontStr</span></td>
                    <td>
                        @if (data.HOME_PAGE_DISPLAY)
                        {
                            <!-- 顯示於首頁才出現下面的符號，沒有就留空 -->
                            <i class="oi text-success" data-glyph="check"></i>
                        }
                    </td>
                    <td>@data.SQ</td>
                </tr>
            }

            @*<tr>
                    <td><button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("ProductsEdit")'"></button></td>
                    <td><button class="hover-danger oi" title="刪除" type="button" data-glyph="trash"></button></td>
                    <td class="text-left">順便有酵 阿勃勒酵素軟糖</td>
                    <td>60粒</td>
                    <td><span class="label">下架</span></td>
                    <td>1</td>
                </tr>*@

        </tbody>
    </table>

    <footer class="table-foot">
        @{
            int beginCount = Model.Result.Pagination.CurrentPage > 1 ? ((Model.Result.Pagination.CurrentPage - 1) * Model.Result.Pagination.PageSize) + 1 : 1;
            int lastCount =
                Data.Count >= Model.Result.Pagination.PageSize ?
                ((Model.Result.Pagination.CurrentPage) * Model.Result.Pagination.PageSize) : Model.Result.Pagination.DataCount;
            string disabledPre = Model.Result.Pagination.CurrentPage == 1 ? "disabled" : "";
            string disabledNext = Model.Result.Pagination.CurrentPage == Model.Result.Pagination.LastPage ? "disabled" : "";
            string disabledPageInput = Model.Result.Pagination.LastPage == 1 ? "disabled" : "";
        }
        <small class="pull-right">第 @beginCount - @lastCount 筆，共 @Model.Result.Pagination.DataCount 筆</small>
        <nav class="pager">
            <button @disabledPre class="oi" data-glyph="media-step-backward" title="到最前頁" type="button" onclick="paginationSubmit('@Model.Result.Pagination.FirstPage');"></button>
            <button @disabledPre class="oi" data-glyph="chevron-left" title="上一頁" type="button" onclick="paginationSubmit('@Model.Result.Pagination.PrePage');"></button>
            <span>第<input @disabledPageInput id="numPage" name="page" class="text-center" type="number" value="@Model.Result.Pagination.CurrentPage">頁，共 @Model.Result.Pagination.LastPage 頁</span>
            <button @disabledNext class="oi" data-glyph="chevron-right" title="下一頁" type="button" onclick="paginationSubmit('@Model.Result.Pagination.NextPage');"></button>
            <button @disabledNext class="oi" data-glyph="media-step-forward" title="到最後頁" type="button" onclick="paginationSubmit('@Model.Result.Pagination.LastPage')"></button>
        </nav>
    </footer>


    @*<footer class="table-foot">
            <small class="pull-right">第 1 - 10 筆，共 100 筆</small>
            <nav class="pager">
                <button class="oi" data-glyph="media-step-backward" title="到最前頁" type="button" onclick="paginationSubmit('');"></button>
                <button class="oi" data-glyph="chevron-left" title="上一頁" type="button" onclick="paginationSubmit('');"></button>
                <span>第<input id="numPage" name="page" class="form-element" type="number" value="1">頁，共 10 頁</span>
                <button class="oi" data-glyph="chevron-right" title="下一頁" type="button" onclick="paginationSubmit('');"></button>
                <button class="oi" data-glyph="media-step-forward" title="到最後頁" type="button" onclick="paginationSubmit('')"></button>
            </nav>
        </footer>*@
}
<script>
    function paginationSubmit(page) {
        $('#numPage').val(page);
        $('form')[0].submit();
    }
</script>