<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 肽研生醫 REDOX MEDICARE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("css", required: false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <nav class="top-nav">
                <div class="wrap">
                    <a class="pull-left mail" href="mailto:service@redoxm.com">service@redoxm.com</a>
                    <section class="pull-right social">
                        <a href="https://www.facebook.com/redoxmedicare/" class="icon-fb" target="new">FB</a>
                        <a href="https://line.me/R/ti/p/%40fgr1047s" class="icon-line" target="new">Line</a>
                    </section>
                </div>
            </nav>
            <nav id="menu" class="sticky menu menu-close">
                <h1 class="logo" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">肽研生醫 REDOX MEDICARE</h1>
                <button class="menu-btn" id="menu-btn"></button>
                <div class="wrap nav-bar" id="navBar">
                    <section>
                        <a class="nav-link @(ViewBag.BodyClass == "Index" ? "active" : "")" href="~/Home">首頁</a>
                        <a class="nav-link @(ViewBag.BodyClass == "AboutUs" ? "active" : "")" href="~/Home/AboutUs">關於我們</a>
                        <a class="nav-link @(ViewBag.BodyClass == "List" ? "active" : "")" href="~/News">最新消息</a>
                        <a class="nav-link @(ViewBag.BodyClass == "Products" ? "active" : "")" href="~/Products">產品介紹</a>
                    </section>
                    <section>
                        <a class="nav-link @(ViewBag.BodyClass == "Service" ? "active" : "")" href="~/Home/Service">專業服務</a>
                        <a class="nav-link @(ViewBag.BodyClass == "Buy" ? "active" : "")" href="~/Home/Buy">哪裡購買</a>
                        <a class="nav-link @(ViewBag.BodyClass == "ContactUs" ? "active" : "")" href="~/ContactUs">連絡我們</a>
                        <a class="icon-fb nav-link mt-64" href="https://www.facebook.com/redoxmedicare/" target="new"></a>
                        <a class="icon-line nav-link" href="https://line.me/R/ti/p/%40fgr1047s"target="new"></a>
                        
                    </section>
                </div>
            </nav>
        </header>

        @if (!ViewBag.IsFirstPage)
        {
            <section id="banner">
                <h2 class="title">@ViewBag.bannerTitle</h2>
            </section>
        }

        @RenderBody()
    </div>

    <a href="#wrapper" class="goTop ti-arrow-up" title="至頂端"></a>

    <footer id="footer">
        <div class="wrap">
            <h2 class="logo-foot">肽研生醫 REDOX MEDICARE</h2>
            <p class="col-lg-4 foot-about">
                肽研生醫秉持著年輕、活力、創新、誠信、關懷、國際化的精神持續鞭策自己，期望可以永續經營回饋社會，邁向國際
            </p>
            <dl class="col-lg-5 foot-contacts">
                <dt>肽研生醫股份有限公司</dt>
                <dd>服務專線：<a href="tel:0287715958" class="hover-underline">(02)8771-5958</a></dd>
                <dd>傳真專線：(02)8771-0677</dd>
                <dd>E-mail：<a class="hover-underline" href="mailto:service@redoxm.com">service@redoxm.com</a></dd>
                <dd>服務地址：<a class="hover-underline" href="https://goo.gl/maps/o888xrs1imH2" target="new">10690 台北市大安區忠孝東路四段221號10樓</a></dd>
            </dl>
            <div class="col-lg-3 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7760056845837!2d121.55043071556398!3d25.04167458396865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc5c62b1c13%3A0x1fd18eead4eade42!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b-g5a2d5p2x6Lev5Zub5q61MjIx6JmfMTA!5e0!3m2!1szh-TW!2stw!4v1532502241662" height="186" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </footer>


    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $('.goTop').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 800);
            return false;
        });

        /// 卷軸滾動效果 (Header goTop) ////
        var $sticky = $('.sticky');
        var wrapOffset = $sticky.offset().top + $sticky.outerHeight();
        // var wrapOffset = $sticky.offset().top;
        $(window).scroll(function (e) {
            e.preventDefault();

            if (($(this).scrollTop() > wrapOffset) && (!$('body').hasClass('scrolling'))) {
                $('body').addClass('scrolling');
            }
            else if ($(this).scrollTop() <= wrapOffset && ($('body').hasClass('scrolling'))) {
                $('body').removeClass('scrolling');
            }

            if ($(this).scrollTop() > 100) {
                $('.goTop').addClass('fade-in').removeClass('fade-out');
            }
            else {
                $('.goTop').removeClass('fade-in').addClass('fade-out');
            }
        });
    </script>

    <!-- 手機選單 -->

    <script>
        var menu = document.getElementById("menu");
        var menuBtn = document.getElementById("menu-btn");
        var body = document.getElementsByTagName("body")[0];


        //nav click
        menuBtn.addEventListener("click", clickMenu);

        function clickMenu() {
            var navBar = document.getElementById("navBar");
            
            if (navBar.classList == "wrap nav-bar nav-open"){
                menuBtn.className = "menu-btn";
                navBar.className = "wrap nav-bar";
                menu.classList.add("menu-close");
                body.style.overflow = "auto";

            }else{
                navBar.classList.add("nav-open");
                menuBtn.classList.add("close-btn");
                menu.className = "sticky menu";
                body.style.overflow = "hidden";
            }
            // console.dir(navBar.classList);
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
